<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="conatiner">
    <div id="sidebar">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'chess' %}">Шахматы для общего развития</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'lib' %}">Библиотека</a></li>
            <li><a href="{% url 'media' %}">Медиатека</a></li>
            <li><a href="{% url 'guest' %}">Гостевая книга</a></li>
        </ul>
    </div>
</div>
</body>
</html>